a{
    cursor: pointer;
    text-decoration: none;
    // color: $text-color;
    font-family: Arial, sans-serif;

}
p{
    font-family: Arial, sans-serif;
    font-size: 12px;
}
h2{
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
}
div{
    font-family: Arial, sans-serif;
    font-size: 12px;
}