// @media all and (min-width: 240px) {}
// @media (min-width: 640px) and (max-width: 959px) {}
// @media (min-width: 960px) and (max-width: 1199px) {}
// @media (min-width: 1200px) {}



@media all and (min-width: 240px) {
  .container {
    display: grid;
    grid-gap: 10px;
    max-width: 100%;
  }

  .slide{
    margin-left: 60%;   
  }

  .active{
    left: -60%;
    width: 60%;
    /*
    left: -141%;
    */
  }



    .header{
        top: 0;
        width: 100%;
        height: 40px;
        display: flex;
        position: fixed;
        background-color: lightpink;

        &__nav{
            position: absolute;
            top: 50px;
            /*
            padding-bottom: 100%;
            position: absolute;
            height: 100%;
            background-color: aquamarine;
            width: 60%;*/
        }

        &__button-help{
            margin-left: auto;
            display: inline-block;
        }
    }

    .section1{
        margin-top: 50px;
        background-color: red;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section2{
        background-color: blue;
        padding: 10px 10px;
        height: 300px;

        &__item{
            display: flex;
            background-color: lightgrey;
            margin-top: 5px;
        }
        &__img{
            display: flex;
            flex: 0 0 auto;
            width: 40px;
            height: 40px;
            background-image: url(./../img/images.jpg);
            background-position: center;
            background-repeat: no-repeat;

        }

        &__text{
            line-height: 1.1;
            height: 40px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            margin-left: 5px;
        }
        &__font{
            display: none;
        }
    }
    .section3{
        background-color: green;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}


@media (min-width: 749px) /*and (max-width: 959px)*/ {
  .container {
    margin-top: 50px;
    max-width: 959px;
    display: grid;
    grid-template-columns: 250px 1fr 200px;
  }
  .header{
        
    &__nav{
        position: static;
        top: 0;
    }
    &__nav-menu{
        display: inline;
    }

}
  .section1{
    margin-top: 0;
  }

  .section2{

        &__font{
            display: block;
            padding-top: 5px; 
        }
    }
}

@media (min-width: 960px) {
  .container {  
    max-width: 959px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .header{
    width: 960px;
        
    &__nav{
        position: static;
        top: 0;
    }
}
}
